.employees-list {
    background: rgb(240, 240, 240);
    position: relative;
    z-index: 1;
}

.employees-list--container {
    max-width: 1200px;
    padding-left: 100px;
    padding-right: 100px;
    margin: auto;
}
.employees-list--table {
    background: #fff;
    padding: 20px;
    border-radius: 0 15px 15px 15px;
    text-align: center;
}

.css-1mbunh-MuiPaper-root {
    box-shadow: none !important;
}

@media all and (max-width: 850px) {
    .employees-list {
        font-size: 13px;
    }
    .employees-list--container {
        padding-left: 20px;
        padding-right: 20px;
    }
}