.employees-list {
    background: rgb(240, 240, 240);
    margin-top: -16px;
}

.employees-list--container {
    max-width: 1200px;
    padding-left: 100px;
    padding-right: 100px;
    margin: auto;
}
.employees-list--container p {
    background: #fff;
    padding: 20px;
    border-radius: 0 15px 15px 15px;
    text-align: center;
}